/* html {
  max-width: 100%;
  max-height: 100%;
  background: #444;
} */
@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap");

html,
body {
  height: 100%;
  max-height: 100%;
  overflow: auto;
  background-image: linear-gradient(to bottom right, #3a6186, #89253e);
  background-repeat: no-repeat;
}

.title {
  /* background-image: linear-gradient(to bottom right, #3a6186, #89253e); */
  height: 10em;
}

.title-text {
  font-family: "Cedarville Cursive", cursive;
  font-size: 5em;
  color: hotpink !important;
  padding-top: 0.3em;
}

.main-outline {
  /* margin-top: 10em; */
  height: 38em;
  border-radius: 5px;
  /* background-image: linear-gradient(to bottom right, #3a6186, #89253e); */
}

.users-box {
  max-width: 100vw;
  margin: 1em 0 0 0;
  height: 30em;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

.chat-box {
  margin: 1em 0 0 0;
  height: 30em;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  overflow: auto;
  position: relative;
}

.labels {
  color: hotpink !important;
}

.text-input {
  margin-top: 2em;
  background-color: #bbb !important;
  color: #222 !important;
}

.btn {
  margin-top: 2em;
  background-color: #3a6186 !important;
  border: none !important;
}

.you {
  color: whitesmoke;
  font-weight: 700;
}

.users-online {
  color: black;
  font-weight: 700;
}

.users-offline {
  color: #aaa;
}

.chat-font {
  color: whitesmoke;
  white-space: pre;
}

.messagesContainer {
  /* position: absolute; */
  bottom: 0;
  overflow: auto;
  max-height: 100%;
}

.messages {
  text-align: left;
}
